Source: edgerouter-kernel
Section: kernel
Priority: optional
Maintainer: Heinrich Schuchardt <xypron.glpk@gmx.de>
Build-Depends: debhelper, cpio, kmod, python, python-six, bc, gcc
Standards-Version: 3.9.4.0
Homepage: https://www.kernel.org/

Package: edgerouter-kernel-image
Architecture: mips
Section: debian-installer
Priority: standard
Description: Kernel image for edgerouter
 This package contains the linux kernel image for the edgerouter.
